<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex flex-row flex-grow-1">
    <div class="navbar-header">
      <a href="#" class="navbar-brand d-flex px-3">Recipe Book</a>
    </div>
    <div class="navbar-default d-flex flex-row flex-grow-1">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item px-2"><a href="#" class="nav-link">Recipes</a></li>
        <li class="nav-item px-2">
          <a href="#" class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right flex-grow-1 justify-content-end">
        <li class="nav-item dropdown">
          <a
            href="#"
            class="nav-link dropdown-toggle px-2"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Manage</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="#" class="dropdown-item">Save Data</a></li>
            <li><a href="#" class="dropdown-item">Save Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
