<div class="container p-4">
  <div class="row">
    <div class="col">
      <p class="text-primary">Add new Servers or blueprints!</p>
    </div>
    <app-addservers
      (serverCreated)="onServerAdded($event)"
      (blueprintCreated)="onBlueprintAdded($event)"
    ></app-addservers>
    <app-newserver *ngFor="let item of serverElements" [serverElement]="item">
      <p #contentParagraph>
        <strong *ngIf="item.type === 'server'">{{ item.content }}</strong>
        <em *ngIf="item.type === 'blueprint'">{{ item.content }} </em>
      </p>
    </app-newserver>
  </div>
</div>
